@import '../custom/colors.scss';
@import '../custom/text-styles.scss';
.introduction-page {
  padding-top: 2em;

  .main-page-image {
    width: 40em;
    height: auto;
  }
  .bolt-span-text {
    font-weight: 700;
    font-size: 0.9em;
  }
  h1 {
    font-size: 3em;
  }

  button {
    width: 9em;
    height: 3em;
  }
  .button-distanced {
    margin-left: 0.5em;
  }
}

.video-page {
  margin-top: 6em;

  p {
    padding: 1em;
  }
  .video-loop {
    box-shadow: 0 0 1.5rem rgba(105, 105, 105, 0.5);
    max-width: 870px;
    width: 100%;
    margin-bottom: 3em;
  }
  .alligned-info-text {
    text-align: left;

    img {
      padding-left: 1em;
      margin-bottom: 2em;
    }
    h3 {
      padding-left: 1em;
    }
  }
}

.features-page {
  margin-top: 3em;
  margin-bottom: 5em;
  h2 {
    padding-top: 2em;
    padding-left: 1em;
  }
  p {
    padding-left: 3em;
  }
  a {
    padding-left: 3em;
  }
  video {
    max-width: 100%;
    height: auto;
  }
}

.clients-page {
  padding-top: 4em;
  background-color: $lightGreyColor;

  .header {
    padding-bottom: 3em;
  }
  .custom-carousel {
    margin-bottom: 7em;
  }
  .custom-client-logos {
    padding-bottom: 2em;

    .col {
      margin: 1.3em;
      .centered-logo {
        justify-content: space-around;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        display: flex;
        padding-left: auto;
        padding-right: auto;
        padding-bottom: auto;
        padding-top: auto;
        max-width: 170px;
        max-height: 35px;
        height: auto;
      }
    }
  }
}
