@import '../custom/colors.scss';
.footer {
  flex-shrink: 0;
  text-align: center;
  margin-top: auto;

  .footer-primary {
    padding-bottom: 4em;
    .secondary-logo {
      height: auto;
      padding-top: 1em;
    }
    .footer-list {
      list-style-type: none;
      text-align: left;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      li {
        p {
          font-weight: 600;
          font-size: 0.9em;
        }
        a {
          color: $footerTextColor;
          text-decoration: none;
          font-weight: 400;
          font-size: 0.8em;
          &:hover {
            color: $textOnHoverColor;
          }
        }
      }
    }
  }

  .footer-secondary {
    background-color: rgb(250, 250, 250);
    padding-top: 1em;
    padding-bottom: 0.5em;
    -moz-text-align-last: left; /* For Firefox prior 58.0 */
    text-align-last: left;
    .informational-list {
      li {
        padding-right: 1em;
        display: inline;
        font-size: 0.8em;
        font-weight: 600;
        .icon {
          padding-right: 0.2em;
        }
        a {
          color: $footerTextColor;
          text-decoration: none;
          &:hover {
            color: $textOnHoverColor;
          }
        }
      }
    }
    .social-networks {
      li {
        padding-right: 1em;
        display: inline;
        font-size: 1.2em;
        font-weight: 600;
        float: right;
        .social-network-icons {
          color: $footerTextColor;
          &:hover {
            color: $textOnHoverColor;
          }
        }
      }
    }
  }
  .footer-copyright {
    background-color: rgb(245, 245, 245);
    font-size: 0.8em;
    padding: 0.8em;
    -moz-text-align-last: left; /* For Firefox prior 58.0 */
    text-align-last: left;
    span {
      margin-left: 2em;
      text-align: left;
    }
  }
}
