@import 'colors.scss';
$i: !important;
.btn-primary {
  background-color: $primaryButtonColor $i;
  border-color: $primaryButtonColor $i;
  &:hover {
    background-color: desaturate($primaryButtonColor, 20%) $i;
  }
  &:focus {
    outline: none $i;
    box-shadow: none $i;
  }
  span {
    font-weight: 600;
    font-size: 14px;
    padding: 0.5em;
  }
}

.btn-outline-primary {
  border-color: $primaryButtonColor $i;
  &:hover {
    border-color: desaturate($primaryButtonColor, 20%) $i;
    background-color: rgb(255, 255, 255) $i;
    border: 2px solid;
  }
  &:focus {
    outline: none $i;
    box-shadow: none $i;
  }
  span {
    font-weight: 600;
    font-size: 14px;
    padding: 0.5em;
    color: $primaryButtonColor;
  }
}
