//Slack main color
$slackPurple: rgb(74, 21, 75);

//button colors
$primaryButtonColor: rgb(74, 21, 75);

//footer colors
$textOnHoverColor: rgb(18, 100, 163);
$footerTextColor: rgb(82, 82, 82);

//link colors
$linkColor: rgb(18, 100, 163);
$linkOnHoverColor: rgb(74, 21, 75);

//background colors
$darkGreyColor: rgb(235, 235, 235);
$lightGreyColor: rgb(245, 245, 245);
