@import 'colors.scss';
$i: !important;

h1 {
  font-weight: 800 $i;
  font-size: 3em $i;
}
h2 {
  font-size: 3em $i;
  font-weight: 700 $i;
}

p {
  font-size: 1em $i;
  font-weight: 600 $i;
}

h3 {
  font-size: 1em $i;
  font-weight: 700 $i;
}

h3.bigger {
  font-size: 1.3em $i;
}
h3.white {
  font-size: 3em $i;
  font-weight: 600 $i;
  color: white;
}

.link {
  font-weight: 500;
  color: $linkColor $i;
  &:hover {
    color: $linkOnHoverColor $i;
  }
}
.centered {
  align-items: center;
  text-align: center;
}
